@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Open+Sans:wght@300;400;500;600&display=swap%27');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif; */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GLOBAL */
html {
    scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, p, li, a{
    color: #222;
}

h1, h2, h3, h4, h5{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.2rem;
}

p, li, a{
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

a{
    text-decoration: none;
}

a:hover{
    color: #ff5c5c;
}

ul{
    list-style: none;
}

/* HEADER */

header{
    height: 15vh;
    position: relative; 
}

header img{
    padding: 1em;
    height: 100%;
}

header li{
    display: inline-block;
    margin-left: 2%;
}

header nav ul{
    width: 50%;
    text-align: right;
    position: absolute;
    bottom: 10%;
    right: 5%; 
}

/* MAIN */

/* HOME */

section:first-of-type{
    height: 85vh;
}

h1{
    margin: 0 0 1em 3.2em;
    padding-top: 1em;
    color: #fff;
}

.home h2{
    margin: 0 0 1em 3.8em;
    color:#fff;
}

.home {
    background: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.5)), url(../img/bgHome.jpeg) no-repeat center/cover;
    background-attachment: fixed;

}

.home article{
    margin-left: 9.4em;
}
.home h3{
    margin-bottom: 1em;
    color: #fff;
}
article ul li{
    margin-bottom: 2em;
    
}
.home li a{
    background-color: rgba(95, 94, 94, 0.25);
    border-radius: 0 25px 25px 0;  
    padding: .5em 5em .5em .2em; 
    color: #fff;
}
.home li a:hover{
    background-color: #fcbd4a;
}
main section:not(:first-child) h2{
    text-align: right;
    margin: .7em .9em 0 0;
}
/* SERVICES */

#services{
    height: 210vh;
}

#services article{
    margin-bottom: 3em;
    position: relative;
}

#services article:nth-of-type(even){
    text-align: right;
}

#services article p{
    width: 50%;
    display: inline-block;
    position: absolute;
    top: 5%; 
}

#services article:nth-of-type(even) p{
    right: 28%;
}

#services article:nth-of-type(odd) p{
    left: 28%;
}

#services article div{
    width: 20em;
    height: 12em;
    display: inline-block;
    position: relative;
}
#services article:nth-of-type(1) div{
    background: url(../img/SteuerberatungUndBuchhaltung.jpg) no-repeat center/cover;
}
#services article:nth-of-type(2) div{
    background: url(../img/container.jpg) no-repeat center/cover;
}
#services article:nth-of-type(3) div{
    background: url(../img/ScheidungUndSteuer.jpeg) no-repeat center/cover;
}
#services article:nth-of-type(4) div{
    background: url(../img/beratung.jpeg) no-repeat center/cover;
}
#services article:nth-of-type(5) div{
    background: url(../img/Revisionsverfahren.jpg) no-repeat center/cover;
}
#services article div h3{
    width: 70%;
    color: #fff;
    text-shadow: 2px 2px #222;
}
#services article:nth-of-type(odd) div{
    border-radius: 0 50px 50px 0;
}
#services article:nth-of-type(odd) div h3{
    position: absolute;
    top: 50%;
    right: 30%;
    transform: translate(50%, -50%);
}
#services article:nth-of-type(even) div{
    border-radius: 50px 0 0 50px;
}
#services article:nth-of-type(even) div h3{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}
#services > div{
    width: 50%;
    text-align: center;
    margin: 0 auto;
}
#services > div > p{
    margin-bottom: 2em;
}
#services > div > a{
    padding: .7em 2em;
    color: #fff;
    background-color: #fcbd4a;
    border-radius: 10px;
}
#services > div > a:hover{
    background-color: #222;
}
#about{
    height: 120vh;
}

#about h2{
    margin: 2em 2em 0 0;
    text-align: right;
}

#about article{
    width: 35%;
    margin: 0 auto;
    text-align: center;
}
#about article h4{
    font-size: 1.7em;
    margin-bottom: 1em;
}
#about img{
    width: 100%;
    height: 30%;
    margin: 3em 0;
}
/* contact */
#contact{
    height: 100vh;
    background-color: #fcbd4a;
}
#contact article, h5, form{
    margin: 3em 0 0 8em;
}
#contact article p{
    margin-bottom: .5em;
}
#contact h5{
    font-size: 1.2em;
    margin: 1em 6.5em;
}
#contact form input, textarea {
    display: block;
    margin-bottom: 1em;
    border-radius: 5px;
    padding: .5em;
    background-color: #c4c4c4;
}
footer{
    text-align: center;
    margin: 0 auto;
}